<h1>About Us</h1>
<p>MOmmi's mission is to help people learn the skills they need to get great jobs. For us, "great jobs" means dank mEmes 24/7 376.

Beyond the particular skills needed to get these MeMes, we also aim to help our students become confident self-teachers who can adapt to changing Meme markets and great meme-lordz that will work well in teams. We focus on serving people that, by birth or circumstance, don't have easy access to learning the skills they need to get these great memes.

And now we sell memes too!</p>
